<h1>Editing point</h1>

<% form_for(@point) do |f| %>
  <%= f.error_messages %>
  <!--ユーザ-->
  <p>
    <%= f.label :user_id %>：
    <%= @user.user_name %>
    <%= hidden_field_tag("point[user_id]",@point.user_id) %>
    <!--<%= f.text_field :user_id %>-->
  </p>
  <!--ポイント-->
  <p>
    <%= f.label :point %>：
    <%= f.text_field :point %>
  </p>
  <!--日付-->
  <p>
    <%= f.label :date %>：
    <%= @point.date%>
    <%= hidden_field_tag("point[date]",@point.date) %>
    <!--<%= f.date_select :date %>-->
  </p>
  <p>
    <%= f.submit 'Update', :class => 'text-center' %>
  </p>
<% end %>

<%= link_to 'Show', @point %> |
<%= link_to 'Back', timelines_path %>
