<h1>ポイント編集</h1>
<%#= javascript_include_tag :defaults %>
<% form_for(@point) do |f| %>
  <%= f.error_messages %>
  <!--ユーザ-->
  <p>
      <%= f.label :user_id %>
    <% if params[:user_id] %>
      <%= @user.user_name %>
      <%= hidden_field_tag("point[user_id]",@point.user_id) %>
      <!--<%= f.text_field :user_id %>-->
    <% else %>
      <%= @point.user_id %>
    <% end %>
  </p>
  <!--ポイント-->
  <p>
    <%= f.label :point -%><%= f.text_field :point -%>
  </p>
  <!--日付-->
  <p>
    <%= f.label :date %>
    <%= @point.date%>
    <%= hidden_field_tag("point[date]",@point.date) %>
    <!--<%= f.date_select :date %>-->
  </p>
  <p>
    <%= f.submit 'Update', :class => 'text-center' %>
  </p>
<% end %>
<!--<%= link_to_remote("hogehoge", :method => :put , :url => { :controller => "points", :action => "update" ,:id => @point.id, :user_id => params[:user_id], :date => params[:date], :point => @point.point})%>-->
<!--
<%= link_to_remote("hogehoge", :method => :put , :url => { :controller => "points", :action => "update" ,:id => @point.id, :point => {:user_id => params[:user_id], :date => params[:date], :point => "oElement.getAttributeNode(\"point_point\").value"}})%>
<a href="#" onclick="func0();return false;">aaa</a>
-->
<!--
<%= link_to 'Show', @point %> |
<%= link_to 'Back', timelines_path %>-->

<script type="text/javascript">
  function func0() {
  alert("hoge");
  }
</script>
