<h1>ポイント一覧</h1>
<%= javascript_include_tag :defaults %>

<!--
<table>
  <tr>
    <th>日付</th>
    <% @users.each do |d|%>	
    <th><%= d.user_name %></th>
    <% end %>
  </tr>
<tr>
    <td>消費合計</td>
    <td id="spent_1"><input type="text" value="<%=  %>" /></td>
    <td id="spent_2"><input type="text" value="<%=  %>" /></td>
    <td id="spent_3"><input type="text" value="<%=  %>" /></td>
    <td id="spent_4"><input type="text" value="<%=  %>" /></td>
    <td id="spent_5"><input type="text" value="<%=  %>" /></td>
    <td id="spent_6"><input type="text" value="<%=  %>" /></td>
</tr>
  <tr>
    <td>合計</td>
    <td id="sum_1"><input type="text" value="<%= @point_sum[0].point %>" /></td>
    <td id="sum_2"><input type="text" value="<%=  %>" /></td>
    <td id="sum_3"><input type="text" value="<%=  %>" /></td>
    <td id="sum_4"><input type="text" value="<%=  %>" /></td>
    <td id="sum_5"><input type="text" value="<%=  %>" /></td>
    <td id="sum_6"><input type="text" value="<%=  %>" /></td>

  </tr>
<% @date_box.each do |d| %>
  <tr>
    <td><%=h d %></td>
    <td id="td_<%= @users[0].id%>_<%= d %>">
      <input type="text"  onfocus="this.select()" id="input_<%= @users[0].id%>_<%= d %>"  name="input_<%= @users[0].id%>_<%= d %>" value="<% @points1.each do |point1| -%>
<% if d == point1.date -%>
<%=h point1.point -%>
<% end -%>
<% end -%>" onChange="<%= remote_function(
:update => "sum_#{@users[0].id}",
:with => "'user_id=1&point=' + $('input_1_#{d}').value + '&date=#{d}'",
:url => { 
#:action => 'update_point'
}) -%>" />
    </td>
    <td>
      <input type="text" id="p2_<%= d %>" name="p2_<%= d %>"  value="<% @points2.each do |point2| -%>
<% if d == point2.date -%>
<%=h point2.point %>
<% end  -%><% end -%>" />
    </td>
    <td>
      <input type="text" value="<% @points3.each do |point3| -%>
<% end %>" />
    </td>

    <td>
      <input name="" type="text" />
    </td>
    <td>
      <input name=""  type="text" />
    </td>
    <td>
      <input name=""  type="text" />
    </td>

  </tr>
<% end %>
</table>
-->





<table>
  <tr>
    <th>User</th>
    <th>Point</th>
    <th colspan="4">Date</th>
  </tr>

<% @points.each do |point| %>
  <tr>
    <td><%=h point.user_id %></td>
    <td><%=h point.point %></td>
    <td><%=h point.date %></td>
    <td><%= link_to 'Show', point %></td>
    <td><%= link_to 'Edit', edit_point_path(point) %></td>
    <td><%= link_to 'Destroy', point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<!--
<%= link_to 'New point', new_point_path %>
-->
