<h1>消費ポイント</h1>

<table>
  <tr>
    <th>日付</th>
    <% @users.each do |u|%>	
    <th><%= u.user_name %></th>
    <% end %>
  </tr>
<tr>
    <td>消費合計</td>
    <% @users.each do |u|%>
    <td><%= u.spent_points.sum(:point)  %></td>
    <% end %>
</tr>
<% @date_box.each do |d| %>
  <tr>
    <td><%=h d %></td>
    <% @users.each do |u| %>
    <td>
	<% if u.spent_points.find(:first, :conditions => "date=\"#{d}\"").try(:id) %> 
		<% @p = u.spent_points.find(:first, :conditions => "date=\"#{d}\"") %>
                <%# フラグ  %>
		<% @hoge = "hoge" %>
	<% else %>
                <%# フラグ  %>
		<% @hoge = "huga" %>
        <% end %>

	<% if @hoge=="hoge" %>
          <%= link_to @p.point, :action => 'edit', :id => @p.id, :user_id => @p.user_id, :date => d  %>
        <% else %>
          <%= link_to '0', :action => 'new', :user_id => u.id, :date => d %>
        <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>


<table>
  <tr>
    <th>User</th>
    <th>Point</th>
    <th>Date</th>
  </tr>

<% @spent_points.each do |spent_point| %>
  <tr>
    <td><%=h spent_point.user_id %></td>
    <td><%=h spent_point.point %></td>
    <td><%=h spent_point.date %></td>
    <td><%= link_to 'Show', spent_point %></td>
    <td><%= link_to 'Edit', edit_spent_point_path(spent_point) %></td>
    <td><%= link_to 'Destroy', spent_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New spent_point', new_spent_point_path %>
