<h1>Listing timelines</h1>

<table>
  <tr>
    <th>Date</th>
    <% @users.each do |u| %>
    <th><%= u.user_name %></th>
    <% end %>
  </tr>

<% @date_box.each do |d, b| %>
  <tr>
    <td><%=d %><% b%></td>
    <% @users.each do |u|  %>
      <td>
        <%# @hoge = u.points.find(:first, :conditions => "date=\"#{d}\"").try(:id) ? "hoge" : "huga" %>
        <%# @p = u.points.find(:first, :conditions => "date=\"#{d}\"").try(:id) ? u.points.find(:first, :conditions => "date=\"#{d}\"") : "" %>
        
	<% if u.points.find(:first, :conditions => "date=\"#{d}\"").try(:id) %> 
		<% @p = u.points.find(:first, :conditions => "date=\"#{d}\"") %>
		<% @hoge = "hoge" %>
	<% else %>
		<% @hoge = "huga" %>
        <% end %>
<!--
        <% u.points.find(:all ,:select => "id,date,point,user_id", :group => :date).each do |p| %>
          <% if p.date == d && p.point > 0 %>
            <% @pid = [p.point,p.id]%>
            <% @hoge = "hoge" %>
            <%= p.point %>
            <%= u.id %>
            <% break %>
          <% else %>
            <% @hoge = "huga"  %>
          <% end %>
        <% end %>

 -->
        <% if @hoge == "hoge" %>
          <%# @p.point %>
          <% @hoge  %>
          <%= link_to @p.point, :controller => 'points',:action => 'edit', :id => @p.id %>
        <% else %>
          <%= link_to 'New', :controller => 'points', :action => 'new', :user_id => 2, :date => d %>
        <% end %>
        <% @hoge %>
      </td>
    <% end %>
  </tr>
<% end %>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%=h timeline.user_id %></td>
    <td><%=h timeline.point %></td>
    <td><%=h timeline.date %></td>
    <td><%= link_to 'Show', timeline %></td>
    <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
    <td><%= link_to 'Destroy', timeline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timeline', new_timeline_path %>
